body {
  font-family: "Ralway", sans-serif;
  font-size: 16px;
  min-width: 300px;
  position: relative;
  line-height: 1.6;
  overflow-x: hidden;
  margin: 0;
  background-color: #202020;
}

.hidden {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.container {
  max-width: 1246px;
  /* margin: 0 auto; */
  margin: 0 60px;
}
.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top_mnu ul li:last-child {
  margin-right: 0;
}
.top_mnu > ul > li {
  display: inline-block;
  margin-right: 42px;
}

.top_mnu ul li a {
  font-size: 14px;
  line-height: 16px;
  color: #ffff;
}

.top-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.top_line .block {
  align-items: center;
}

.logo {
  margin-right: 80px;
}

.btn {
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  width: 213px;
  height: 39px;
  text-align: center;
  line-height: 39px;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Montserrat", serif;
  display: block;
}
.lang {
  margin-left: 36px;
}
.lang ul li {
  display: inline-block;
  padding-left: 5px;
  position: relative;
}

.lang ul li::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 14px;
  background-color: #ffffff;
}

.lang ul li:first-child::before {
  display: none;
}
.lang ul li a {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.top-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.top-line {
  padding: 27px 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}
/* .top_mnu ul li:hover{
  cursor: pointer;
  border: none;
  border-radius: 3px;
  color: #202020;
  font-family: "Montserrat";
  background-color: #ffffff;
}
.top_mnu ul li a:hover{
  
  color: #202020;
  font-family: "Montserrat";
  
} */

/* Временно */
.main_slider_sec{
  position: relative;
}
.toggle_mnu {
  display: none;
}
.main-swiper .swiper-slide {
  height: 768px;
  background-size: cover;
  background-position: center;
}
.main-swiper .swiper-slide .text-wrap h2 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 42px;
  line-height: 51px;
  color: #ffffff;
  padding-bottom: 30px;
}
.main-swiper .swiper-slide .text-wrap p {
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */
  color: #ffffff;
  padding-bottom: 40px;
  font-family: "Raleway", serif;
}
.main-swiper .swiper-slide .text-wrap a {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  text-transform: uppercase;

  /* Accent color */

  color: #eec48b;
  border-bottom: 1px solid #eec48b;
  padding-bottom: 10px;
  display: inline-block;
  font-family: "Raleway", serif;
}

.main-swiper .swiper-slide {
  position: relative;
}

.main-swiper .swiper-slide .text-wrap {
  position: absolute;
  max-width: 1246px;
  padding: 0 60px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 70px;
}

.swiper-pagination {
  bottom: 30px !important;
}

.btns_block {
  position: absolute;
  right: 0;
  bottom: 80px;
  z-index: 1;
}
.btn2 {
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.btn_comparison {
  position: relative;
}
.comparison_num {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eec48b;
  border-radius: 50%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  position: absolute;
  left: -10px;
  top: -10px;
}

.sec_title{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 36px;
line-height: 44px;
/* identical to box height */
color: #FFFFFF;
}

.sec2 .block .text-wrap p{
  font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */
color: #FFFFFF;
opacity: 0.7;
padding-bottom: 40px;
}
.btn_wrap{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btn_more{
  font-family: 'Raleway';
font-weight: 500;
font-size: 16px;
line-height: 150%;
text-transform: uppercase;
color: #EEC48B;
border-bottom: 1px solid #eec48b;
padding-bottom: 10px;
display: inline-block;
padding-bottom: 10px;

}

.sec2 .block .img-wrap{
  width: 774px;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 600px;
  left: -60px;
}
.sec2 .block .text-wrap{
width: 37%;
padding-top: 142px;

}
.sec2 .block .text-wrap .sec_title{
padding-bottom: 30px;
}
section.sec2{
  padding: 100px 0;
}

/* Блок3 */
section.sec3{
background-size: cover;
background-position: center;
padding: 90px 0;
height: 600px;
box-sizing: border-box;
}

.sec3 h2{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  color: #FFFFFF;
  padding-bottom: 30px;
}
.sec3 p{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  color: #FFFFFF;
  opacity: 0.7;
  padding-bottom: 40px;
}
.sec3 a{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  text-transform: uppercase;
  /* Accent color */
  color: #EEC48B;
  padding-bottom: 10px;
  display: inline-block;
  border-bottom: 1px solid #EEC48B;
}
.sec3 .block{
  padding: 0 106px;
}

/* Блок4 */

.photo-swiper .swiper-slide{
  width: 436px;
  height: 436px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
}
.photo-swiper .swiper-slide::before{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 32, 32, .8);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}
.photo-swiper .swiper-slide:hover::before{
  opacity: 1;
}
section.sec4{
  padding: 100px 0 132px;

}

.photo-swiper {
  margin: 0 -60px;
}

.swiper-pagination2{
  font-family: 'Montserrat', serif;
font-style: italic;
font-weight: 300;
font-size: 16px;
line-height: 20px;
/* identical to box height */
color: #FFFFFF;
display: flex;
justify-content: center;
padding-top: 40px;
position: static;
}

.swiper-pagination2 span{
  margin: 0 3px;}

  .photo-swiper .swiper-slide span{
    font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
text-transform: uppercase;
/* Accent color */
color: #EEC48B;
border-bottom: 1px dashed #eec48b;
display: inline-block;

  }

.photo-swiper .swiper-slide .text-wrap {
  opacity: 0;
  transition: .3s;
  position: absolute;
  text-align: center;
  /* позируется в ценир но он смещен */
  top: 50%;
  left: 50%;
  /* делается для того чтобы доцентрировать */
  transform: translateX(-50%) translateY(-50%);
} 
.photo-swiper .swiper-slide:hover .text-wrap{
  opacity: 1;
}

.map{
  background-size: cover;
  background-position: center;
  height: 476px;
}

section.sec6{
  background-color: #333333;
  padding: 100px 0 90px;

}

.sec6 .block h2{
  text-align: center;
  padding-bottom: 30px;
}

.sec6 .block p{
  font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */
text-align: center;
color: #FFFFFF;
opacity: 0.7;
padding-bottom: 40px;
/* max-width: 550px; */
display: flex;
justify-content: center;
}
.sec6 .container .block a{
  font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
text-transform: uppercase;
/* Accent color */
color: #EEC48B;
border-bottom: 1px solid #EEC48B;
padding-bottom: 10px;
text-align: center;
position: absolute;
left: 50%;
transform: translateX(-50%);
}
.sec6.block{
  /* max-width: 550px; */
  margin: 0 auto;
  text-align: center;
}

/* Блок7 */
.review-swiper .swipper-slide p{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.7;
  position: relative;
  max-width: 608px;
  padding-bottom: 58px;
}

.review-swiper .swipper-slide p::before{
  content: "";
  position: absolute;
  background-image: url(../img/quaot.svg);
  left: 50%;
  bottom: 0;
  width: 21px;
  height: 18px;
  transform: translateX(-50%);
}

.review-swiper .swipper-slide h3{
  font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
text-transform: uppercase;
color: #EEC48B;
padding-top: 40px;
text-align: center;

}

section.sec7{
  padding: 100px 0;
  position: relative;
}


.sec7 h2{
  text-align: center;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 36px;
line-height: 44px;
color: #FFFFFF;
padding-bottom: 80px;
}
.swipper-nav div{
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 10;
  transform: translateY(-50%);
}
.review-button-prev {
  left: 106px;
}
.review-button-next
{
  right: 106px
}
.swipper-nav div svg path{
  fill: #EEC48B;
}
.swipper-nav div .swiper-button-disabled svg path{
  fill: #4d4d4d;
}
.sec7 .review-swiper p{
  font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
/* or 30px */
text-align: center;
color: #FFFFFF;
opacity: 0.7;
}


.review-swiper {
  display: flex;
  justify-content: center;
}
/* Футер */
footer{
  background-color: #3E3E3E;
  padding:  60px 60px 30px 0;

}
footer h3{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-transform: uppercase;
color: #FFFFFF;
padding-bottom: 30px;

}
.bottom_mnu ul li{
  display: inline-block;
  padding-bottom: 10px;
  width: 49%;


}
.bottom_mnu ul li a{
  font-family: 'Raleway';
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
color: #FFFFFF;
opacity: 0.7;
}
footer .item-left{
  width: 75%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.bottom_mnu_wrap{
  width: 45%;
}
.bottom_mnu_wrap:last-child .bottom_mnu ul li{
  width: 100%;
}
.bottom_contact a{
font-family: 'Raleway';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 150%;
color: #FFFFFF;
}
.bottom_contact{
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 32px;
  margin-bottom: 18px;
}
footer .item-right{
  width: 24%;
  margin-top: -5px;
}
.soc-block{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 20px;
}

a.soc-icon{
  margin-right: 20px;
}



/* .copyright{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

} */
.copyright p{
font-family: 'Raleway';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 19px;
text-align: center;
color: #FFFFFF;
opacity: 0.7;
padding-top: 60px;
}

/* Страница Компания */

section.about-company{
  padding-top: 60px;
}
.about-company .head-nav p{
  font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
color: #FFFFFF;
padding: 0;
padding-bottom: 60px;
}
section.about-company h3{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  padding-bottom: 30px;
}
.about-company p{
  font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */
color: #FFFFFF;
opacity: 0.7;
/* text-align: center; */
padding-bottom: 100px;
}
header.header-company{
height: 102px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

section.company-sec3{
  padding-top: 100px;
  padding-bottom: 100px;
 /* display: inline-block;
 justify-content: flex-start; */
  position: relative;
}

section.company-sec3 .img-company1{
  margin: 0;
  width: 774px;
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 600px;
  right: -60px;
  top: 100px;
}
.company-sec3 .text-wrap{
width: 40%;
padding-top: 142px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */
color: #FFFFFF;
opacity: 0.7;
padding-bottom: 142px;
}

section.company-sec4{
  /* padding-top: 100px; */
  padding-bottom: 100px;
 /* display: inline-block;
 justify-content: flex-start; */
  position: relative;
  height: 700px;
}

section.company-sec4 .img-company2{
  margin: 0;
  width: 774px;
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 600px;
  left: -60px;
  top: 0px;
}
.company-sec4 .text-wrap{
  width: 40%;
  padding-top: 142px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  color: #FFFFFF;
  opacity: 0.7;
  padding-bottom: 142px;
  order: 2;
  position: absolute;
  right: 60px;
}

section.sec9{
  padding: 60px 0 0;
  position: relative;
  
  
}


.sec9 .blog1{
  display: flex;
  justify-content: space-between;
  gap: 100px;
  padding-top: 100px;
  padding-bottom: 50px;
  height: 500px;
  /* position: relative; */
}
.sec9 .blog2{
  display: flex;
  justify-content: space-between;
  gap: 100px;
  padding-top: 100px;
  padding-bottom: 50px;
  height: 500px;
  /* position: relative; */
  /* top: 50px; */
}



.sec9 .block .img-wrap{
  margin: 0;
  width: 608px;
  background-size: cover;
  background-position: center;
  /* position: absolute; */
  height: 400px;
  
}
.sec9 .block .text-wrap{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-align: left;
  position: absolute;
  

}
.sec9 .block h3{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  color: #FFFFFF;
 padding-bottom: 0px;

  
}

.sec9 .block .text-wrap p{
  font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: rgba(255, 255, 255, 0.7);
width: 40%;
padding-top: 20px;
padding-bottom: 20px;
margin: 0;
}
